<?xml version="1.0"?>
<launch>
  <!-- Load the URDF, SRDF and other .yaml configuration files on the param server -->

	 <rosparam param="deviceIP">"192.168.2.181"</rosparam>
	 <rosparam param="savedata">"false"</rosparam>

     <node name="bmi_ethernet_driver" pkg="bmirobot_hw" type="bmirobot_ethernet_driver" args="1" respawn="true" output="screen" />
     <node name="bmi_motor_controller" pkg="bmirobot_hw" type="bmirobotv52_hw" args="1" respawn="true" output="screen" />

	 <!--node name="bmi_motor_record" pkg="bmirobot_tools" type="record_msg" args="1" respawn="true" output="screen" /-->

     <node pkg="tf" type="static_transform_publisher" name="grasp_broadcaster" args="0.160 0.01 0 0 0 0 1 link8 link_calibration 100" />
     <!--node pkg="tf" type="static_transform_publisher" name="link8_broadcaster" args=" -0.064995775811727  0.055148419121836  0.272492487098256  -0.366583157600761   0.359641042018234   0.614503812995140 0.598882436938944  /base_link /camera_link 200" /-->

  <include file="$(find bmirobotv5)/launch/planning_context.launch">
    <arg name="load_robot_description" value="true"/>
  </include>

 

</launch>
