<?xml version="1.0" ?>
<robot name="robotarm" xmlns:xacro="http://www.ros.org/wiki/xacro"> 
 <!-- Constants for robot dimensions -->
  <xacro:property name="PI" value="3.1415926535897931"/>
  <xacro:property name="mass" value="1" /> <!-- arbitrary value for mass -->
  <xacro:property name="width" value="0.1" /> <!-- Square dimensions (widthxwidth) of beams -->
  <xacro:property name="height1" value="2" /> <!-- Link 1 -->
  <xacro:property name="height2" value="1" /> <!-- Link 2 -->
  <xacro:property name="height3" value="1" /> <!-- Link 3 -->
  <xacro:property name="camera_link" value="0.025" /> <!-- Size of square 'camera' box -->
  <xacro:property name="axel_offset" value="0.05" /> <!-- Space btw top of beam and the each joint -->

  <!-- Import all Gazebo-customization elements, including Gazebo colors -->
  <xacro:include filename="$(find bmirobot_description)/urdf/bmirobot.gazebo" />
  <!-- Import Rviz colors -->
  <xacro:include filename="$(find bmirobot_description)/urdf/materials.xacro" />
  
  <!-- Used for fixing robot to Gazebo 'base_link' -->
  <link name="world"/>


  <joint name="fixed" type="fixed">
    <parent link="world"/>
    <child link="odom_combined"/>
  </joint>

  <link name="odom_combined"/>

  <joint name="virtual_joint" type="fixed">
    <parent link="odom_combined"/>
    <child link="base_link"/>
    <origin xyz="0 0 0.45" rpy="0 0 0" />
  </joint>


  <link name="base_link"/>

  <joint name="rightvirtual_joint" type="fixed">
    <parent link="base_link"/>
    <child link="right_link1"/>
    <origin xyz="0.22 0 0" rpy="0 0 0" />
  </joint>  

  <joint name="leftvirtual_joint" type="fixed">
    <parent link="base_link"/>
    <child link="left_link1"/>
    <origin xyz="0.03 0 0" rpy="0 0 ${pi}" />
  </joint>


  <xacro:include filename="$(find bmirobot_description)/urdf/robotarm_rightarm.xacro" />  
  <xacro:include filename="$(find bmirobot_description)/urdf/robotarm_leftarm.xacro" />

<!--
    <plugin name="gazebo_ros_power_monitor_controller" filename="libgazebo_ros_power_monitor.so">
      <alwaysOn>true</alwaysOn>
      <updateRate>1.0</updateRate>
      <timeout>5</timeout>
      <powerStateTopic>power_state</powerStateTopic>
      <powerStateRate>10.0</powerStateRate>
      <fullChargeCapacity>87.78</fullChargeCapacity>     
      <dischargeRate>-474</dischargeRate>
      <chargeRate>525</chargeRate>
      <dischargeVoltage>15.52</dischargeVoltage>
      <chargeVoltage>16.41</chargeVoltage>
    </plugin>
-->



</robot>
